@import "_var.scss";


 .grid-container {
 	display: grid;
 	max-width:1200px;
 	margin:0 auto;
 } 


.main {
    width: 100%;
	height: 100vh;
	justify-items: center;
	-webkit-background-size: cover;
	background-size: cover;
	& .container {
    background-size: cover;
		max-width: 90%;
		height: 100%;
		margin: 0 auto;
		display: grid;
		justify-items: center;
		& img {
			border-radius: 9px;
      max-width: 100%;
      width: 853px;
    }
    & .video {
      // max-width: 100%;
      // margin: 20px 0;
    }
		& h1 {
				font-size: 28px;
			   font-family: "Monsr-ex", serif;
			color: #000;
				font-weight: bold;
        line-height: 1.156;
			margin-bottom: 0;
		}
		& h2 {
			font-size: 20px;
			font-family: "Monsr-med", serif;
			color: #000;
			line-height: 1.35;
		}
		& .input__wrapper {
			width: 250px;
			padding-bottom: 20px;
			& input {
				width: 100%;
				margin-top: 10px;
				border-radius: 25px;
				outline: none;
				border-style: solid;
				border-width: 1px;
				border-color: rgb(152, 152, 152);
				height: 46px;
				&[type="text"] {
                    padding-left: 20px;
					font-size: 16px;
					font-family: "Monsr-med", serif;
					color: rgba(52, 52, 52, 0.6);
					line-height: 1.688;
					box-sizing: border-box;
				}
			}
			& label {
        display: block;
				font-size: 16px;
				font-family: "Monsr-med", serif;
				color: #000;
				text-transform: uppercase;
        line-height: 1.688;
        text-align: center;
			}

    }
    
    
	}
}

.video-container {
  max-width: 853px;
  margin: 20px 0;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  max-height: 480px;
  }
  .video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 853px;
  width: 100%;
  height: 100%;
  max-height: 480px;
  }

.products {
  width: 100%;
}

.product__title {
  font-family: sans-serif;
  font-size: 50px;
  color: #000;
  text-align: center;
  line-height: 70px;
}

.product__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 853px;
  margin: 0 auto;
}

$product_width: 180px;

.product__item {
  width: $product_width;
  margin: 10px;
  cursor: pointer;
  .product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $product_width;
    height: 280px;
    border: 1px solid #ccc;
    background: #fff;
    img {
      width: 95%;
    }
  }
}

.our-products {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  max-width: 853px;
  width: 853px;
  a {
    color: #000;
    font-size: 25px;
  }
}

.our-products a:hover {
  text-decoration: none;
}

.product__name {
  margin: 5px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

.product__price {
  margin: 5px 0;
  font-family: sans-serif;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.container__title {
  font-family: sans-serif;
  font-size: 50px;
  color: #000;
}

.btn {
	margin-top: 10px;
	outline: none;
	font: 700 17px/1 'Open Sans', sans-serif;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	cursor: pointer;
	border: 0;
	text-decoration: none !important;
	text-align: center;
	white-space: nowrap;
	z-index: 2;
	color: #f8f8f8 !important;
	background: linear-gradient(180deg, #c82543 0%, #c42323 100%);
	height: 75px;
	box-shadow: 0 4px 0 1px #690016;
	width: 100%;
	border-radius: 36px;
	&:active {
		transform: translateY(10px);
	}
	&::before {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		position: absolute !important;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		content: '';
		z-index: -1;
	}
	&::after {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		position: absolute !important;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		content: '';
		z-index: -1;
	}
	& .btn-shadow {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		position: absolute !important;
		top: 0;
		right: 0;
		margin: auto;
		background: rgba(255, 255, 255, 0.14);
		border-radius: 56px;
		width: calc(100% + 30px);
		height: calc(100% + 30px);
		left: -15px;
		bottom: -2px;
	}
	&:hover {
		color: #fff !important;
		box-shadow: none;
		& .btn-shadow {
			background: rgba(255, 255, 255, 0.34);
			border-radius: 56px;
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
		}
		& .text-agree {
			opacity: 1;
		}
	}
	& .text-agree {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		display: block;
		font: 600 13px/1 'Open Sans', sans-serif;
		opacity: 0.2;
		margin-top: 6px;
		box-sizing: border-box;
	}

}
.btn-main-callback {
	font: 600 16px/77px 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.btn-ghost {
	&:active {
		transform: translateY(10px);
	}
}
.si-button-pulse:hover, .btn-ghost:hover {
	will-change: transform;
	transform: translate3d(0, 0, 0);
	-webkit-animation: si-button-pulse 0.8s 0s ease-out 1;
	-moz-animation: si-button-pulse 0.8s 0s ease-out 1;
	-ms-animation: si-button-pulse 0.8s 0s ease-out 1;
	animation: si-button-pulse 0.8s 0s ease-out 1;
	box-shadow: none;
}
//linear-gradient(180deg, #c82543 0%, #c42323 100%);
@-webkit-keyframes si-button-pulse {
	from {
		box-shadow: 0 0 8px 6px #c82543, 0 0 12px 14px #c82543; }
	to {
		box-shadow: 0 0 18px 6px rgba(67, 164, 49, 0), 0 0 4px 71px rgba(67, 164, 49, 0); } }
@-moz-keyframes si-button-pulse {
	from {
		box-shadow: 0 0 8px 6px #43a431, 0 0 12px 14px #43a431; }
	to {
		box-shadow: 0 0 18px 6px rgba(67, 164, 49, 0), 0 0 4px 71px rgba(67, 164, 49, 0); } }


@media only screen and (max-width : 1920px) {
 .main {
	& .container {
		height: auto;
	}
 }
}
